.legal-title {
  padding: 16px 16px 4px;
}

.legal-edition {
  display: block;
  padding: 0 16px 8px;
  color: var(--tgui--hint_color);
}

.legal-text {
  display: block;
  padding: 12px 16px;
  white-space: pre-line;
}
